.menu_content {
    display: flex;
    box-sizing: border-box;
    outline: currentColor none medium;
    max-width: 100%;
    margin: 0;
    align-items: center;
    background: black none repeat scroll;
    color: white;
    font-weight: initial;
    font-size: 13px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px;
    padding: 5px;
    /*position: relative;*/
    height: 100%;
}
.menu_burger button {
    display: block;
    transform-origin: 16px 11px;
    float: left;
    outline: 0;
    border: 0;
    padding: 10px;
    background: none;
}
.menu_burger button {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: white;
}
.menu_burger button:focus {
    outline: 0;
}
span {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 7px;
    background-color: #fff;
}

.one {
    transform: rotate(45deg) translate(7px, 7px);
    width: 30px;
    background-color: red;
}
.two {
    opacity: 0;
    pointer-events: none;
}
.three {
    transform: rotate(-45deg) translate(4px, -3px);
    background-color: red;
    width: 30px;
}
.menu_burger button:hover {
    opacity: 0.9;
}
.menu_basket a {
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    color: white;
}
.menu_basket {
    display: block;
    position: relative;
}
.basketStatus {
    display: flex;
    width: 20px;
    height: 20px;
    color: white;
    background-color: orangered;
    border-radius: 50%;
    justify-content: center;
    align-items: baseline;
    font-weight: bold;
    padding: 2px;
    position: absolute;
    top: 0;
    left: -8px;
}
.unlockBox {
    display: block;
    position: absolute;
}
.unlock {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 800px;
    top: -19px;
}
.unlock a {
    font-size: 26px;
    color: white;
}